/* style.css */
body {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

h1, h2, h3 {
    margin-top: 20px;
    text-align: center;
}

.table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.word-cloud {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 0 auto;
}

.charts-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

table.dataframe {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; /* Adjusted font size */
}

table.dataframe th {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 8px; /* Adjusted padding */
    border: 1px solid #ddd;
    font-size: 10px; /* Adjusted font size */
}

table.dataframe td {
    text-align: center;
    padding: 8px; /* Adjusted padding */
    border: 1px solid #ddd;
    font-size: 12px; /* Adjusted font size */
}

.custom-file-input ~ .custom-file-label::after {
    content: "Browse";
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.custom-file {
    margin-bottom: 12px;
}

.custom-file-label {
    text-align: left;
}

.btn-primary {
    width: 150px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
